body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14,17,17);
}

#app-container{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2rem;
}


h2{
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.timer{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
}

.timer-btns{
   display: flex;
   padding-bottom: 20px;
}

#start-time, #stop-time, #restart-time{
    width: 100px;
    color: white;
    padding: 10px;
    font-weight: 400;
    border: none;
    background-color: rgb(35,43,43);
}


#start-time:hover, #stop-time:hover, #restart-time:hover{
   background-color: white;
   color: black;
   transition: 0.2s;
}

 #reset-btn{
    height: 50px;
    width: 200px;
    border-color: transparent;
    color: white;
    font-weight: 400;
}

#reset-btn:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
}



.data-output{
display: grid;
padding-bottom: 25px;
}

.data-output label{
color: white;
text-align: center;
font-family: 'Inter', sans-serif;
padding: 10px;
}

.Generate-Btns{
display: flex;
padding-top: 20px;
padding-bottom: 50px;
}



button{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: rgb(35,43,43);
    border-radius: 5px;
}

input[type=number]{
    text-align: center;
    padding: 5px;
    width: 150px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: white;
}

#generate-small-data, #generate-large-data{
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-color: transparent;
  background-color: rgb(35,43,43);
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

#generate-small-data:hover, #generate-large-data:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
}


#deflection-input, #elevation-input{
    margin: 0 auto;
}

.table-container{
    width: 400px;
    height: 300px;
    overflow-y: auto;
}

table{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid rgb(181, 181, 181);
}

.column-title{
   font-family: 'Inter', sans-serif;
    width: 120px;
}

